<li [class.completed]="todo.isComplete"
    [class.editing]="editing">

    <div class="view">

        <input class="toggle"
               type="checkbox"
               [formControl]="chkCompleted">

        <label (dblclick)="editar()">{{ todo.text }}</label>

        <button class="destroy"
                (click)="borrar()"></button>

    </div>

    <input class="edit"
           [formControl]="txtInput"
           type="text"
           (blur)="terminarEdicion()"
           #itemToEdit>
</li>